:root {
  font-family: 'Inter', sans-serif;
  --main-white-color: #f6f7f7;
  --main-black-color: #06071b;
  --gradient-elements: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
  --main-dur-func-transition: 1s cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--main-black-color);
  color: var(--main-white-color);
  scroll-behavior: smooth;
}

@media screen and (prefer-color-scheme: dark) {
  :root {
    --main-white-color: #06071b;
    --main-black-color: #f6f7f7;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 20px;
  min-width: 320px;
  max-width: 480px;
}

/* ==== HEADER ====*/
main {
  position: relative;
}

.header {
  position: absolute;
  top: 26px;
  width: 100vh;
  z-index: 999;
  background: linear-gradient(90deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
}

.header-container {
  background-color: transparent;
  transition: background-color var(--main-dur-func-transition),
    height var(--main-dur-func-transition), position var(--main-dur-func-transition);
}

.main-logo {
  font-size: 28px;
  font-weight: 400;
  padding: 14px 0;
  color: var(--main-white-color);
}

.menu-button {
  display: block;
  background-color: transparent;
  border: none;
}

.menu-button-svg {
  fill: var(--main-white-color);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100svb;
}

.header-list-url {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header-container.is-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  z-index: 999;
  background-color: yellow;

  padding-left: 20px;
  padding-right: 20px;
}

.header-container.is-open .header-nav {
  position: absolute;
  gap: 115px;
  top: 26px;
}

.header-container.is-open .header-list-url {
  flex-wrap: wrap;
  clip: initial;
  clip-path: initial;
  overflow: initial;
  position: relative;
  height: initial;
  width: initial;
  align-self: flex-start;
  color: var(--main-white-color);
}

.header-container.is-open .list-url {
  text-transform: uppercase;
  color: var(--main-white-color);
}
.header-container.is-open .list-url:hover,
.header-container.is-open .list-url:focus {
  background: var(--gradient-elements);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* ==== HEADER ====*/
/* ==== HERO ====*/

.hero-container {
  padding-top: 100px;
  padding-bottom: 127px;
}

.hero-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero-par {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 28px;
}

.hero-list {
  margin-bottom: 40px;
}

.hero-list-item {
  display: flex;
  margin-bottom: 8px;
}

.hero-list-svg {
  margin-right: 4px;
  fill: var(--main-white-color);
}

.hero-list-par {
  font-size: 12px;
  font-weight: 400;
}

.download-button {
  display: block;
  width: 200px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  color: var(--main-white-color);
  background: var(--gradient-elements);
}

/* ==== HERO ====*/
/* ==== FUTURES ====*/

.sec-futures {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--main-white-color);
}

.header-futures {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--main-black-color);
}

.main-paragaph-features {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 40px;
  color: var(--main-black-color);
}

/* ==== FUTURES ====*/
/* ==== VIDEO ====*/

.sec-video {
  padding-top: 40px;
  padding-bottom: 90px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
}

.video-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-video {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.main-paragraph-video {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.social-list-icons {
  display: flex;
  column-gap: 20px;
  margin-bottom: 14px;
}

.social-url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--gradient-elements);
}

.social-icon {
  fill: var(--main-white-color);
}

/* ==== VIDEO ====*/
/* ==== TEAM ====*/

.sec-team {
  padding-top: 40px;
  padding-bottom: 20px;
  background: var(--main-white-color);
}

.header-team {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  color: var(--main-black-color);
}

.team-main-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 28px;
  color: var(--main-black-color);
}

.team-list-item {
  background: var(--gradient-elements);
}

/* ==== TEAM ====*/
/* ==== TESTIMONIALS ====*/

.sec-testimonials {
  padding-top: 20px;
  padding-bottom: 40px;
  background: var(--main-white-color);
}

.main-testimonials-header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--main-black-color);
}

.avatar-customer {
  margin-bottom: 20px;
}

.name-customer {
  color: var(--main-black-color);
}

.descr-customer {
  color: var(--main-black-color);
}

.comment-customer {
  color: var(--main-black-color);
}

.slider {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
}

/* ==== TESTIMONIALS ====*/

/* ==== FOOTER ====*/

.footer-container {
  padding-top: 40px;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-form-header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.footer-form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.button-footer-form {
  font-family: Inter;
  width: 181px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: var(--main-white-color);
  background: var(--gradient-elements);
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 8px;
  border-radius: 5px;
  background-color: var(--main-white-color);
}

.footer-form-text {
  width: 100%;
  height: 220px;
  padding: 11px 8px;
  border-radius: 5px;
  background-color: var(--main-white-color);
}

.footer-form-items-text,
.footer-form-items-text::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #939eac;
}

.footer-header {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.footer-paragraph {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.footer-text-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 500;
  width: 193px;
}

.footer-copyright-part {
  border-top: 1px solid var(--main-white-color);
  padding: 22px 24px;
}

.footer-addr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-addr-item {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-white-color);
}

/* ==== FOOTER ====*/

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
    min-width: none;
    max-width: none;
  }

  /* ==== HEADER ====*/

  .header-list-url {
    display: flex;
    column-gap: 40px;
  }

  .list-url-item {
    padding: 24px 0;
  }

  .list-url {
    font-size: 12px;
    font-weight: 400;
    color: var(--main-white-color);
  }

  .menu-button {
    display: none;
  }

  /* ==== HEADER ====*/
  /* ==== HERO ====*/

  .hero-container {
    padding-top: 60px;
    padding-bottom: 143px;
  }

  .hero-header {
    font-size: 40px;
    margin-bottom: 12px;
  }

  .hero-par {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .hero-list {
    margin-bottom: 62px;
  }

  .hero-list-item {
    margin-bottom: 14px;
  }

  .hero-list-par {
    font-size: 14px;
  }

  .download-button {
    margin: 0;
  }

  /* ==== HERO ====*/
  /* ==== FUTURES ====*/

  .sec-futures {
    padding-top: 100px;
    padding-bottom: 47px;
  }

  .header-futures {
    font-size: 24x;
  }

  .main-paragaph-features {
    font-size: 16px;
    line-height: 1.5;
  }

  /* ==== FUTURES ====*/
  /* ==== VIDEO ====*/

  .sec-video {
    padding-top: 80px;
    padding-bottom: 46px;
  }

  .header-video {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .main-paragraph-video {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* ==== VIDEO ====*/
  /* ==== TEAM ====*/

  .sec-team {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .header-team {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .team-main-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  /* ==== TEAM ====*/

  /* ==== FOOTER ====*/

  .footer-container {
    padding-top: 74px;
  }

  .footer-form-header {
    font-size: 24px;
  }

  .footer-content-container {
    margin-bottom: 80px;
  }

  .form-input-container {
    flex-direction: row;
    gap: 32px;
  }

  .footer-header {
    font-size: 24px;
  }

  .footer-paragraph {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .footer-copyright {
    width: 100%;
  }

  .social-list-icons {
    margin-bottom: 40px;
  }

  .footer-copyright-part {
    padding: 25px 32px;
  }

  /* ==== FOOTER ====*/
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
    width: 1280px;
  }

  /* ==== HEADER ====*/

  .main-logo {
    padding: 19px 0;
  }

  .header {
    backdrop-filter: blur(17.5px);
  }

  .list-url-item {
    padding: 28px 0;
  }

  /* ==== HEADER ====*/
  /* ==== HERO ====*/

  .hero-container {
    padding-top: 145px;
    padding-bottom: 146px;
  }

  .hero-header {
    font-size: 40px;
    margin-bottom: 18px;
  }

  /* ==== HERO ====*/
  /* ==== FUTURES ====*/

  .sec-futures {
    padding-bottom: 100px;
  }

  .header-futures {
    margin-bottom: 80px;
  }

  .main-paragaph-features {
    width: 855px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }

  /* ==== FUTURES ====*/
  /* ==== VIDEO ====*/

  .sec-video {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .video-text-content {
    width: 480px;
    align-items: flex-start;
  }

  .main-paragraph-video {
    text-align: start;
    margin-bottom: 40px;
  }

  .video-container {
    flex-direction: row;
    gap: 161px;
  }

  /* ==== VIDEO ====*/
  /* ==== TEAM ====*/

  .header-team {
    margin-bottom: 80px;
  }

  .team-main-paragraph {
    margin-bottom: 56px;
  }

  /* ==== TEAM ====*/

  /* ==== FOOTER ====*/

  .footer-container {
    padding-top: 80px;
  }

  .footer-content-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 140px;
  }

  .footer-form-header {
    margin-bottom: 80px;
  }

  .footer-paragraph {
    margin-bottom: 20px;
  }

  .social-list-icons {
    margin-bottom: 20px;
  }

  .footer-form-contact {
    align-items: flex-end;
    width: 608px;
  }

  .footer-text-part {
    align-items: flex-start;
    width: 500px;
  }

  .footer-copyright-part {
    padding: 21px 16px;
  }
}
