:root {
  font-family: 'Inter', sans-serif;
  --main-white-color: #f6f7f7;
  --main-black-color: #06071b;
  --gradient-elements: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
  background-color: var(--main-black-color);
  color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 20px;
  min-width: 320px;
  max-width: 480px;
}

.main-logo {
  font-size: 28px;
  font-weight: 400;
  padding: 14px 0;
  color: var(--main-white-color);
}

.header {
  margin-top: 26px;
  background: linear-gradient(90deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-list-url {
  display: none;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
    min-width: none;
    max-width: none;
  }

  .header-list-url {
    display: flex;
    column-gap: 40px;
  }

  .list-url-item {
    padding: 24px 0;
  }

  .list-url {
    font-size: 12px;
    font-weight: 400;
    color: var(--main-white-color);
  }

  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
    width: 1280px;
  }

  .main-logo {
    padding: 19px 0;
  }

  .header {
    backdrop-filter: blur(17.5px);
  }

  .list-url-item {
    padding: 28px 0;
  }
}
