:root {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  --main-white-color: #f6f7f7;
  --main-black-color: #06071b;
  --gradient-elements: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
  --main-dur-func-transition: 800ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-dur-more-func-transition: 1s cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--main-black-color);
  color: var(--main-white-color);
  scroll-behavior: smooth;
}

@media screen and (prefer-color-scheme: dark) {
  :root {
    --main-white-color: #06071b;
    --main-black-color: #f6f7f7;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 20px;
  min-width: 320px;
  max-width: 480px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==== HEADER ====*/
main {
  position: relative;
}

.header {
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  z-index: 999;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  opacity: 1;
  transition: opacity var(--main-dur-more-func-transition);
  z-index: -1;
}

.header.is-hidden::before {
  opacity: 0;
}

.header-container {
  background-color: transparent;
  transition: background-color var(--main-dur-func-transition),
    height var(--main-dur-func-transition), box-shadow var(--main-dur-func-transition);
}

.main-logo {
  font-size: 28px;
  font-weight: 400;
  padding: 14px 0;
  color: var(--main-white-color);
}

.menu-button {
  width: 33px;
  height: 33px;
  display: block;
  background-color: transparent;
  border: none;
  padding: 9px 4px;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
  transform: scale(1.05);
}

.menu-button > span {
  position: relative;
  transition: background-color var(--main-dur-func-transition);
}

.menu-button > span::before,
.menu-button > span::after {
  content: '';
  position: absolute;
  transition: transform var(--main-dur-more-func-transition);
}

.menu-button > span,
.menu-button > span::before,
.menu-button > span::after {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--main-white-color);
}

.menu-button > span::before {
  top: -7px;
}

.menu-button > span::after {
  top: 7px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-url {
  color: transparent;
  transition: color var(--main-dur-func-transition);
}

.header-container.is-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-image: url('../img/menu-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: var(--main-black-color);
  box-shadow: -5px 0 5px rgba(0, 197, 235, 0.3), 5px 0 5px rgba(181, 68, 254, 0.3);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-container.is-open {
    background-image: url('../img/menu-back@2x.png');
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .header-container.is-open {
    background-image: url('../img/menu-back@3x.png');
  }
}

.header-container.is-open .header-nav {
  position: absolute;
  top: 26px;
  left: 20px;
  right: 20px;
}

.header-container.is-open .header-list-url {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 9999;
  color: var(--main-white-color);
}

.header-container.is-open .list-url-item {
  margin-bottom: 36px;
}

.header-container.is-open .list-url {
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.header-container.is-open .list-url:hover,
.header-container.is-open .list-url:focus {
  background: var(--gradient-elements);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header-container.is-open .menu-button > span {
  background-color: transparent;
}

.header-container.is-open .menu-button > span::before {
  transform: translate(0, 7px) rotate(-45deg);
}

.header-container.is-open .menu-button > span::after {
  transform: translate(0, -7px) rotate(45deg);
}

/* ==== HEADER ====*/
/* ==== HERO ====*/

.hero-container {
  position: relative;
  padding-top: 182px;
  padding-bottom: 127px;
}

.hero-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero-par {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 28px;
}

.hero-list {
  margin-bottom: 40px;
}

.hero-list-item {
  display: flex;
  margin-bottom: 8px;
}

.hero-list-svg {
  margin-right: 4px;
  fill: var(--main-white-color);
}

.hero-list-par {
  font-size: 12px;
  font-weight: 400;
}

.download-button {
  display: block;
  width: 200px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  color: var(--main-white-color);
  background: var(--gradient-elements);
}

.download-button:hover,
.download-button:focus,
.download-button:active {
  transform: scale(1.05);
}

.hero-main-picture {
  position: absolute;
  z-index: -1;
  top: 84px;
  left: 0;
  right: -132px;
}

/* ==== HERO ====*/
/* ==== FUTURES ====*/

.sec-futures {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--main-white-color);
}

.header-futures {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--main-black-color);
}

.main-paragaph-features {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 40px;
  color: var(--main-black-color);
}

.pic-mobile-fuatures {
  margin-left: auto;
  margin-right: auto;
}

.fuatures-item {
  display: flex;
  gap: 12px;
}

.header-fuature-conteiner {
  /* padding-top: 4px; */
  /* display: flex;
  gap: 12px; */
  /* align-items: baseline; */
}

.header-fuature {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  color:  var(--main-black-color);
}

.fuature-detail {
  font-size: 12px;
  font-weight: 500;
  color: var(--main-black-color);
}

/* ==== FUTURES ====*/
/* ==== VIDEO ====*/

.sec-video {
  padding-top: 40px;
  padding-bottom: 90px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
}

.video-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-video {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.main-paragraph-video {
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
}

.social-list-icons {
  display: flex;
  column-gap: 20px;
  margin-bottom: 14px;
}

.social-list-item:hover,
.social-list-item:focus,
.social-list-item:active {
  transform: scale(1.05);
}

.social-url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--gradient-elements);
}

.social-icon {
  fill: var(--main-white-color);
}

/* ==== VIDEO ====*/
/* ==== TEAM ====*/

.sec-team {
  padding-top: 40px;
  padding-bottom: 20px;
  background: var(--main-white-color);
}

.header-team {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  color: var(--main-black-color);
}

.team-main-paragraph {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 28px;
  color: var(--main-black-color);
}

.team-list-item {
  background: var(--gradient-elements);
}

/* ==== TEAM ====*/
/* ==== TESTIMONIALS ====*/

.sec-testimonials {
  padding-top: 20px;
  padding-bottom: 40px;
  background: var(--main-white-color);
}

.main-testimonials-header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--main-black-color);
}

.avatar-customer {
  margin-bottom: 20px;
}

.name-customer {
  color: var(--main-black-color);
}

.descr-customer {
  color: var(--main-black-color);
}

.comment-customer {
  color: var(--main-black-color);
}

.slider {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
}

/* ==== TESTIMONIALS ====*/

/* ==== FOOTER ====*/

.footer-container {
  padding-top: 40px;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-form-header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.footer-form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.button-footer-form {
  font-family: Inter;
  width: 181px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: var(--main-white-color);
  background: var(--gradient-elements);
}

.button-footer-form:hover,
.button-footer-form:focus,
.button-footer-form:active {
  transform: scale(1.05);
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 8px;
  border-radius: 5px;
  background-color: var(--main-white-color);
}

.footer-form-text {
  width: 100%;
  height: 220px;
  padding: 11px 8px;
  border-radius: 5px;
  background-color: var(--main-white-color);
}

.footer-form-items-text,
.footer-form-items-text::placeholder {
  font-size: 14px;
  color: #939eac;
}

.footer-header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-paragraph {
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
}

.footer-text-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
  width: 193px;
}

.footer-copyright-part {
  border-top: 1px solid var(--main-white-color);
  padding: 22px 24px;
}

.footer-addr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-addr-item {
  font-size: 16px;
  color: var(--main-white-color);
}

/* ==== FOOTER ====*/

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
    min-width: none;
    max-width: none;
  }

  /* ==== HEADER ====*/

  .header-list-url {
    display: flex;
    column-gap: 40px;
  }

  .list-url-item {
    padding: 24px 0;
  }

  .list-url {
    font-size: 12px;
    font-weight: 400;
    color: var(--main-white-color);
  }

  .menu-button {
    display: none;
  }

  /* ==== HEADER ====*/
  /* ==== HERO ====*/

  .hero-container {
    padding-top: 142px;
    padding-bottom: 142px;
    background-image: url('../img/tablet/hero-back.png');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position-x: -87px;
    background-position-y: 90px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/tablet/hero-back@2x.png');
      background-position-x: -174px;
      background-position-y: 180px;
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .hero-container {
      background-image: url('../img/tablet/hero-back@3x.png');
      background-position-x: -261px;
      background-position-y: 270px;
    }
  }

  .hero-header {
    font-size: 40px;
  }

  .hero-par {
    font-size: 20px;
  }

  .hero-list {
    margin-bottom: 62px;
  }

  .hero-list-item {
    margin-bottom: 14px;
  }

  .hero-list-par {
    font-size: 14px;
  }

  .download-button {
    margin: 0;
  }

  .hero-main-picture {
    z-index: 0;
    top: 230px;
    right: 0;
    left: unset;
  }

  /* ==== HERO ====*/
  /* ==== FUTURES ====*/

  .sec-futures {
    padding-top: 100px;
    padding-bottom: 47px;
  }

  .header-futures {
    font-size: 24x;
  }

  .main-paragaph-features {
    font-size: 16px;
    line-height: 1.5;
  }

  /* ==== FUTURES ====*/
  /* ==== VIDEO ====*/

  .sec-video {
    padding-top: 80px;
    padding-bottom: 46px;
  }

  .header-video {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .main-paragraph-video {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* ==== VIDEO ====*/
  /* ==== TEAM ====*/

  .sec-team {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .header-team {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .team-main-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  /* ==== TEAM ====*/

  /* ==== FOOTER ====*/

  .footer-container {
    padding-top: 74px;
  }

  .footer-form-header {
    font-size: 24px;
  }

  .footer-content-container {
    margin-bottom: 80px;
  }

  .form-input-container {
    flex-direction: row;
    gap: 32px;
  }

  .footer-header {
    font-size: 24px;
  }

  .footer-paragraph {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .footer-copyright {
    width: 100%;
  }

  .social-list-icons {
    margin-bottom: 40px;
  }

  .footer-copyright-part {
    padding: 25px 32px;
  }

  /* ==== FOOTER ====*/
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
    width: 1280px;
  }

  /* ==== HEADER ====*/

  .main-logo {
    padding: 19px 0;
  }

  .header {
    backdrop-filter: blur(17.5px);
  }

  .list-url-item {
    padding: 28px 0;
  }

  /* ==== HEADER ====*/
  /* ==== HERO ====*/

  .hero-container {
    padding-top: 243px;
    padding-bottom: 146px;
    background-position-x: -107px;
    background-position-y: 190px;
  }

  .hero-header {
    margin-bottom: 18px;
  }

  .hero-main-picture {
    top: 167px;
    right: 45px;
  }

  /* ==== HERO ====*/
  /* ==== FUTURES ====*/

  .sec-futures {
    padding-bottom: 100px;
  }

  .header-futures {
    margin-bottom: 80px;
  }

  .main-paragaph-features {
    width: 855px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }

  /* ==== FUTURES ====*/
  /* ==== VIDEO ====*/

  .sec-video {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .video-text-content {
    width: 480px;
    align-items: flex-start;
  }

  .main-paragraph-video {
    text-align: start;
    margin-bottom: 40px;
  }

  .video-container {
    flex-direction: row;
    gap: 161px;
  }

  /* ==== VIDEO ====*/
  /* ==== TEAM ====*/

  .header-team {
    margin-bottom: 80px;
  }

  .team-main-paragraph {
    margin-bottom: 56px;
  }

  /* ==== TEAM ====*/

  /* ==== FOOTER ====*/

  .footer-container {
    padding-top: 80px;
  }

  .footer-content-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 140px;
  }

  .footer-form-header {
    margin-bottom: 80px;
  }

  .footer-paragraph {
    margin-bottom: 20px;
  }

  .social-list-icons {
    margin-bottom: 20px;
  }

  .footer-form-contact {
    align-items: flex-end;
    width: 608px;
  }

  .footer-text-part {
    align-items: flex-start;
    width: 500px;
  }

  .footer-copyright-part {
    padding: 21px 16px;
  }
}
